// Body
$body-bg: #9c8b64;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Theme Colors
$theme-colors: (
  "primary": #480202,
  "secondary": #480202,
  "dark": #480202,
  "white": #d0ad28,
  "info": #836247,
  "light": #9c8b64,
  "brown": #4e4532
);

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
