// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

@import "overrides";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.navbar-dark .navbar-brand {
    color: theme-color("white");
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
    color: theme-color("white");
}

.btn-primary {
    color: theme-color("white");
}

a {
    color: theme-color("white");

    &:hover {
        color: theme-color("light");
        text-decoration: none;
    }

    li:hover {
        background-color: theme-color("dark");
    }
}

.top-container {
    position: absolute;
    bottom: 0;

    &.middle {
        left: 0;
        right: 0;
    }
}

.background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    &.screen-height {
        height: 100vh;
    }

    &.partial-height {
        height: 400px;
        background-position: center;
    }
}

.block {
    background-color: theme-color("info");
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.photo {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    &.no-shadow {
        box-shadow: none;
    }

    &.description {
        width: auto;
        height: auto;
        object-fit: cover;
        margin: auto;
        max-height: 450px;

        &.float-left {
            margin-right: 10px;
        }

        &.float-right {
            margin-left: 10px;
        }

        @include media-breakpoint-down(sm) {
            float: none !important;
            width: 100%;
            margin: auto;
            display: block;
        }
    }

    &.person {
        max-width: 350px;
        max-height: 250px;
        width: auto;
        height: auto;
        object-fit: cover;
        margin: auto;
    }

    &.row-picture {
        max-width: 450px;
    }

    &.small {
        max-height: 200px;
        width: auto;
    }
}

.carousel {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-gallery-container {
    position: relative;

    div {
        a {
            div {
                p {
                    width: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    &:hover {
        div {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);

            a {
                div {
                    p {
                        color: theme-color("white");
                    }
                }
            }
        }
    }
}

.image {
    &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        cursor: pointer;
    }
}
