<template>
    <div>
        <date-picker v-model="newDate"></date-picker>
    </div>
</template>

<script>
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";
import "vue2-datepicker/locale/nl";
export default {
    components: { DatePicker },
    props: ["date"],
    data() {
        return {
            newDate: this.date !== "" ? new Date(this.date) : new Date()
        };
    }
};
</script>
