<template>
    <div class="container mb-3">
        <gallery
            :images="images"
            :index="index"
            @close="index = null"
        ></gallery>
        <div class="row">
            <div
                class="image col-md-4 col-sm-6 col-xs-12 col-xs-12 d-block mx-auto"
                v-for="(image, imageIndex) in images"
                :key="imageIndex"
                @click="index = imageIndex"
                :style="{
                    backgroundImage: 'url(' + image + ')',
                    width: '300px',
                    height: '200px'
                }"
            ></div>
        </div>
    </div>
</template>

<script>
import VueGallery from "vue-gallery";

export default {
    props: ["images"],
    data: function() {
        return {
            index: null
        };
    },

    components: {
        gallery: VueGallery
    }
};
</script>

<style scoped>
.image {
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #ebebeb;
}
</style>
