<template>
    <div>
        <input type="hidden" id="time" name="time" v-model="newTime" />
        <vue-timepicker
            hour-label="uren"
            minute-label="minuten"
            v-model="newTime"
            format="HH:mm"
        ></vue-timepicker>
    </div>
</template>

<script>
export default {
    data() {
        return {
            newTime: this.time
        };
    },
    props: ["time"]
};
</script>
